node_modules/
out/
.DS_Store
inline_*.txt
yarn-error.log
vscode-ocaml-expect-inline-*.vsix
.vscode-test
eslint_report.json
latest_changelog.md
package-lock.json
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
